.main {
  background-color: rgb(189, 228, 243);
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  margin: 20px;
  padding: 25px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1.3rem #038dbf,
    0 0 0 0.2rem #038dbf, 0 0 1.3rem #038dbf, inset 0 0 1.3rem #038dbf;
}

#icon {
  display: inline;
  text-align: right;
  margin-right: 30px;
  float: right;
  width: 120px;
  height: 120px;
  transform: scale(1.5);
}

header {
  width: 100%;
}

h1 {
  font-family: "BhuTuka Expanded One", cursive;
  font-size: xx-large;
  display: inline-flex;
  margin: 0 auto;
  text-align: left;
}
h2 {
  font-family: "BhuTuka Expanded One", cursive;
  font-size: 42px;
  text-align: left;
  display: block;
  margin: 0 auto;
  align-items: center;
}
h4 {
  font-family: "BhuTuka Expanded One", cursive;
  font-size: 14px;
  text-align: left;
}

h5 {
  font-family: "Poiret One", cursive;
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

li {
  text-align: left;
  display: inline;
}

p {
  font-family: "BhuTuka Expanded One", cursive;
  text-align: center;
}

.card-img-top {
  object-fit: cover;
  align-self: center;
  width: 42px;
}

a {
  font-size: small;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

form {
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-control {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
  min-width: 200px;
  border-style: solid;
  border-color: #038dbf;
  border-width: 1px;
  border-radius: 5px;
}

.btn {
  margin-bottom: 5px;
}
.btn-secondary {
  --bs-btn-hover-bg: #038dbf;
  --bs-btn-hover-border-color: #038dbf;
}
.separator {
  font-size: 16px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
